@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --theme-transparent: transparent;
  --theme-current: currentColor;

  --theme-bg-faint: #f4f9fb;

  --theme-brand-faint: #aee3f5;
  --theme-brand-muted: #91c0e1;
  --theme-brand-subtle: #5fa3cc;
  --theme-brand: #3490db;
  --theme-brand-emphasis: #1d6ea5;
  --theme-brand-inverted: #fff;

  --theme-background-muted: #f5f5f5;
  --theme-background-subtle: #e0e0e0;
  --theme-background: #fff;
  --theme-background-emphasis: #4d4d4d;

  --theme-border: #ccc;
  --theme-ring: #ccc;

  --theme-content-subtle: #666;
  --theme-content: #7f7f7f;
  --theme-content-emphasis: #595959;
  --theme-content-strong: #1a1a1a;
  --theme-content-inverted: #fff;

  /* min-width: 100vw; */

  /* --background: #f8f8f8;
  --accent: #0078f4;
  --accent2: #00285a;
  --white: #f6f5f9;
  --text-dark:#000000;
  --background-neutral:#e1e9ef;
  --background-blue: #2948a0; */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: var(--text-dark);
  background-color: var(--theme-bg-faint);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--theme-content);
  text-decoration: inherit;
}
a:hover {
  color: var(--theme-brand);
}

/* body { */
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
/* } */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--theme-brand-emphasis);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--theme-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent2);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
 
